@model InfoViewModel
@{
    Layout = Layout = null;
}

<html>
<head>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/login-register.css" rel="stylesheet" />
</head>
<body>
    <section class="login-info">
        <div class="container">
            <div class="row main">
                <div class="form-header">
                    <h1 class="text-center">@Model.Header</h1>
                </div>
                <div class="main-content">
                    <div class="text-info">
                        <h2><span class="glyphicon glyphicon-info-sign"></span>&nbsp;&nbsp;&nbsp;@Model.Title</h2>
                        <hr />
                        <p class="text-justify">
                            @foreach (string message in Model.Items)
                            {
                                @message<br>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @{
        string js = string.Empty;

        if (Model.IsRedirecting)
        {
            js = "setTimeout(function () { window.location = '" + Model.RedirectingUrl + "'; }, " +
                Model.RedirectingTimeout + ");";
        }
    }
    <script>

    $(function () {
        @Html.Raw(js);
    });

    </script>
</body>
</html>

